<header class="flex justify-between items-center py-3 w-[1120px] ">
    <img class="rounded-full w-12 h-12" src="https://yt3.googleusercontent.com/5FB06VH9gLz1ayVOh_gaEQ7vB3RwkOfWYmiLZE7itH9oPtEq1h629oYJzwPwriuMrENf5eUDGQ=s176-c-k-c0x00ffffff-no-rj" alt="Eliasib photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Proyects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>